@charset "UTF-8";

/*contact_sentのCSSは、80行付近から*/

body {
  font-family: "Sawarabi Mincho", sans-serif;
}

.contact_text {
  font-size: 20px;
  padding-left: 100px;
  color: #fcebb6;
  letter-spacing: 3px;
}

span {
  font-size: 15px;
  vertical-align: middle;
  margin-left: 20px;
}

.required {
  background-color: rgb(248, 46, 46);
  color: white;
}

form {
  margin: 50px 0 0 100px;
}

label {
  display: inline-block;
  width: 30%;
  font-size: 35px;
  color: #fcebb6;
  line-height: 90px;
}

input,
textarea {
  box-sizing: border-box;
  width: 20%;
  background: rgba(255, 255, 255, 0.37);
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 0;
}

textarea {
  height: 70px;
  resize: none;
  width: 25%;
  vertical-align: middle;
}

.error {
  color: rgb(250, 54, 54);
  font-size: 20px;
}

form .but {
  margin: 30px 0 0 180px;
}

button {
  padding: 5px 30px;
  font-size: 30px;
  border: none;
  border-radius: 15px;
  background-color: #fab341;
  color: #5e412f;
  letter-spacing: 3px;
  margin-bottom: 50px;
  font-family: "Sawarabi Mincho", sans-serif;
}

button:hover {
  background-color: #b18031;
  color: #f5d546;
  transition: 0.7s;
}

/*----------contact_sentのCSS----------*/
.text , .but_wrappe{
  display: flex;
}

.text h2{
  font-size: 35px;
  color: #fcebb6;
  line-height: 90px;
  font-weight: 400;
}

.text p{
  display: flex;
  align-items: center; 
  font-size: 25px;
}

p{
  display: inline-block;
  width: 50%;
}

.sent_but{
  margin-left: 5%;
}

.but_inner button {
  padding: unset;
}

button a {
  padding: 5px 30px;
  text-decoration: none;
  color: #5e412f;
}

button a:hover{
  color: #f5d546;
  transition: 0.7s;
}

.sent_but_inner{
  padding:0 30px;
  font-size: 30px;
  border-radius: 15px;
  background-color: #fab341;
  color: #5e412f;
  letter-spacing: 3px;
  font-family: "Sawarabi Mincho", sans-serif;
}

.sent_but_inner:hover{
  background-color: #b18031;
  color: #f5d546;
  transition: 0.7s;
}